.joystick-base {
    position: fixed;
    bottom: 32px;
    left: calc(50% - #{$joystickBaseSize / 2});
    height: $joystickBaseSize;
    width: $joystickBaseSize;
    border-radius: 100%;
    border: 10px solid rgba($joystickColour, 0.1);
    background: rgba($joystickColour, 0.05);
    box-shadow: 0 0 15px rgba(#000, 0.5) inset,
                0 0 5px rgba(#000, 0.2);
    transition: border-color 0.3s;
    cursor: pointer;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    z-index: 1000;

    &:hover, &.active {
        border-color: rgba($joystickColour, 0.2);

        .joystick-shaft {
            background: rgba($joystickColour, 0.35);
        }
    }

    &.active {
        background: rgba($joystickColour, 0.1);
    }
}

@media screen and (max-width: 768px){
    .joystick-base {
        bottom: 32px;
        left: 32px;
    }
}
