$enemySize: 30px;
.enemy, .obstacle {
    position: absolute;
    top: 0;
    left: 0;

    @include square($enemySize);

    background: #fff;

    z-index: 10;
    transform-origin: center;

    will-change: transition;
    pointer-events: none;

    &.circle {
        @include circle($enemySize * 0.5);
    }

    &.rect {
        @include rect($enemySize * 0.5, $enemySize);
    }
}

@media screen and (max-width: 768px){
    .enemy, .obstacle {
        @include square($enemySize * 0.5);

        &.circle {
            @include circle($enemySize);
        }

        &.rect {
            @include rect($enemySize * 0.25, $enemySize * 0.5);
        }
    }
}
