.flash-message {
    position: fixed;
    font-size: 30px;
    color: #fff;
    top: 200px;
    left: 50%;
    opacity: 0;
    transform: translate3d(-50%, -10px, 0);
    z-index: 100;
    text-align: center;
    transition: opacity 0.3s, transform 0.3s;
    padding: 16px;
    border-radius: 0.2em;
    background: #08c;
}
