$scoreboard: 50px;
.scoreboard {
    position: fixed;
    height: $scoreboard;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    top: 0;
    width: 100%;
    left: 0;
    background: #fff;

    .score {
        margin: 0 8px;
    }
}

.wrapper {
    background: #1D1F20;
    overflow: hidden;
    transition: filter 0.3s;
    position: relative;
    width: 100%;
    height: 100%;
}

.game {
    position: fixed;
    background: #1D1F20;
    overflow: hidden;
    top: $scoreboard;
    left: 0;
    height: calc(100% - #{$scoreboard});
    max-height: calc(100% - #{$scoreboard});
    width: 100%;
    max-width: 100%;
    transition: transform 0.3s;
    padding: 5px;
}
