.game-screen {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 16px;
    font-size: 20px;

    .intro-message,
    .paused {
        font-size: 50px;
    }

    .instructions,
    .pause_message,
    .level_message,
    .additional {
        margin-top: 8px;
        font-size: 14px;
    }

    .home,
    .action {
        margin-top: 16px;
        padding: 12px 16px;
        border-radius: 0.2em;
        background: #08c;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: lighten(#08c, 8%);
        }
    }

    .tile-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 8px;

        .tile {
            padding: 0 16px;
            height: 150px;
            line-height: 150px;
            width: 150px;
            background: #08c;
            border-radius: 0.2em;
            transition: 0.3s;
            cursor: pointer;
            margin: 8px;

            &:hover {
                background: lighten(#08c, 8%);
            }
        }
    }
}

@media screen and (max-width: 768px){
    .game-screen {
        .intro-message,
        .paused {
            font-size: 30px;
        }

        .tile-wrapper {
            .tile {
                height: 100px;
                line-height: 100px;
                width: 100px;
            }
        }
    }
}
