/**
 * Define a circle shape
 */
@mixin circle($radius) {
    height: $radius * 2;
    width: $radius * 2;
    border-radius: 100%;
    overflow: hidden;
}

/**
 * Define a rectangle shape
 */
@mixin rect($height, $width){
    height: $height;
    width: $width;
}

/**
 * Define a square shape
 */
@mixin square($size){
    @include rect($size, $size);
}
