.mute {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 1000000;

    background: #ccc;
    color: #000;
    cursor: pointer;
    transition: background 0.3s;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    &:after {
        content: '\E050'; // Volume Up icon
    }

    &.muted:after {
        content: '\E04F'; // Volume Off icon
    }

    &:hover {
        background: #bbb;
    }
}
