$playerSize: 20px;

.player {
    position: absolute;
    top: 0;
    left: 0;

    @include circle($playerSize);

    background: #fff;
    border-top: 10px solid #08c;

    z-index: 20;
    transform-origin: center;

    will-change: transform;
    pointer-events: none;

    transition: background 0.3s, box-shadow 0.3s;

    &.invincible {
        background: #fff176;
    }

    &.shielded {
        box-shadow: 0 0 3px 5px rgba(#08c, 0.8);
    }
}


@media screen and (max-width: 768px){
    .player {
        @include circle($playerSize * 0.66);
    }
}
