$powerUpSize: 36px;
.power-up {
    position: absolute;
    top: 0;
    left: 0;

    height: $powerUpSize;
    width: $powerUpSize;
    background: #08c;

    z-index: 10;
    transform-origin: center;

    will-change: transition;
    pointer-events: none;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    &.circle {
        height: $powerUpSize;
        width: $powerUpSize;
        border-radius: 100%;
    }

    &.rect {
        height: $powerUpSize / 2;
        width: $powerUpSize;
    }

    &.life-up {
        background: #0c8;
        box-shadow: 0 0 3px rgba(#0c8, 0.4);

        &:after {
            content: '\E800'; // Plus one icon
        }
    }

    &.invincibility {
        background: #fff176;
        box-shadow: 0 0 3px rgba(#fff176, 0.4);
        color: #fff;

        &:after {
            content: '\E83A'; // Star border icon
        }
    }

    &.shield {
        background: #0c8;
        box-shadow: 0 0 3px rgba(#0c8, 0.4);

        &:after {
            content: '\E8AB'; // Polymer icon
            transform: rotate(90deg);
            font-size: 21px;
        }
    }

    &.vertical-reverse {
        background: #08c;
        box-shadow: 0 0 3px rgba(#08c, 0.4);

        &:after {
            content: '\E8D5'; // Swap vert icon
            font-size: 32px;
        }
    }

    &.invert-colours {
        background: invert(#08c);
        box-shadow: 0 0 3px rgba(invert(#08c), 0.4);

        &:after {
            content: '\E891'; // Invert colours icon
        }
    }

    &.instant-death {
        background: #ef5350;
        box-shadow: 0 0 3px rgba(#ef5350, 0.4);

        &:after {
            content: '\E5CD'; // Close icon
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 768px){
    .power-up {
        height: $powerUpSize * 0.66;
        width: $powerUpSize * 0.66;

        &.circle {
            height: $powerUpSize * 0.66;
            width: $powerUpSize * 0.66;
        }

        &.rect {
            height: $powerUpSize * 0.33;
            width: $powerUpSize * 0.66;
        }
    }
}
