$obstacleSize: 10px;
$obstacleCircleRadius: $obstacleSize * 1.5;
$obstacleRectHeight: $obstacleSize * 3;
$obstacleRectWidth: $obstacleSize * 4;

.santa-dash {
    .obstacle {
        @include square($obstacleSize * 3);

        &.circle {
            @include circle($obstacleCircleRadius);
        }

        &.rect {
            @include rect($obstacleRectHeight, $obstacleRectWidth);
        }
    }
}

@media screen and (max-width: 768px){
    .enemy, .obstacle {
        @include square($obstacleSize * 1.5);

        &.circle {
            @include circle($obstacleCircleRadius * 0.75);
        }

        &.rect {
            @include rect($obstacleRectHeight * 0.75, $obstacleRectWidth * 0.75);
        }
    }
}
